.app-top-bar-container {
    /* border-bottom: solid 1px #E9E9E9; */
}

.content-section {
    max-width: 980px;
    margin: 0px auto;
    padding: 20px;
}

.content-section h1 {
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    color: #06038D;
    margin: 80px 0 15px;
}

.content-section p {
    font-size: 18px;
    text-align: center;
    color: #020A09;
    font-weight: 500;
}

.content-section p.comment {
    font-size: 14px;
    text-align: left;
}

select.input_data {
    border-radius: 24px;
    margin-bottom: 12px;
}

input.input_data {
    border-radius: 24px;
    border-color: #ced4da;
    /* border-top-color: #ced4da !important; */
}

textarea.input_data {
    height: 200px;
    padding: 18px 24px;
    border-radius: 24px;
    border-color: #ced4da;
    /* border-top-color: #ced4da !important; */
}

input.input_data, select.input_data {
    height: 48px;
    padding-left: 24px;
}

.check_container {
    display: inline-block;
    width: 30%;
}

.check_label {
    display: inline-block;
    height: 30px;
    margin: 0;
    vertical-align: top;
    line-height: 30px;
    font-weight: 500;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/patterns/select_drop.png);
    background-repeat: no-repeat;
    background-position: right;
}

.no-block {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.customize-btn {
    height: 50px;
    border-radius: 25px;
    width: 225px;
    margin: 28px 0px;
    color: white;
    background-color: #ff6b6b;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    border: none;
}

.customize-btn:hover {
    color: white;
    background-color: #eb4444;
}

.customize-see-more-btn {
    display: block;
    height: 50px;
    border-radius: 25px;
    width: 195px;
    margin: 28px auto;
    color: #06038D;
    border: solid 2px #06038D;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

.customize-see-more-btn:hover {
    border: solid 2px #4542bd;
    color: #4542bd;
}

.article-item-container {
    height: 530px;
    width: 33.33%;
    float: left;
    padding: 15px;
    overflow: hidden;
}

.article-item-container a {
    text-decoration: none;
}

.article-item {
    height: 500px;
    border: 1px solid #DAE1E5;
    border-radius: 4px;
    overflow: hidden;
}

.article-item-image {
    height: 284px;
}

.article-item-category {
    font-size: 16px;
    font-weight: bold;
    color: #78E6D0;
    padding: 35px 0px 0px 45px;
    position: relative;
}

.article-item-category:before {
    position: absolute;
    content: ' ';
    width: 20px;
    height: 2px;
    background-color: #78E6D0;
    top: 45px;
    left: 20px;
}

.article-item-title {
    font-size: 24px;
    font-weight: bold;
    color: #020A09;
    padding: 0px 20px;
    line-height: 1.3;
    /* word-break: break-all; */
}

.main-article-image {
    width: 100%;
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.article-body h1 {
    text-align: left;
}

.article-body h3 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.article-body p {
    text-align: left;
}

.article-body-item-category {
    font-size: 19px;
    font-weight: bold;
    color: #78E6D0;
    padding: 0px 0px 0px 33px;
    position: relative;
}

.article-body-item-category:before {
    position: absolute;
    content: ' ';
    width: 23px;
    height: 2px;
    background-color: #78E6D0;
    top: 14px;
    left: 0px;
}

.article-body a {
    text-decoration: none;
    word-break: break-all;
}

.go-back-blog {
    font-size: 14px;
    color: #DAE1E5;
    position: relative;
    text-indent: 29px;
}

.go-back-blog:before {
    position: absolute;
    content: ' ';
    width: 24px;
    height: 23px;
    background-image: url(../images/patterns/go_back.png?v1);
    top: -1px;
    left: -3px;
    background-size: 22px;
}

.overlay-layer {
    padding: 50px 100px 0px 100px;
    position: relative;
    top: -120px;
    background: white;
}

@media screen and (max-width: 1000px) and (min-width: 769px) {
    .article-item-container {
        width: 50%;
    }

    .blog_page .article-item-container:last-child {
        display: none;
    }

    .article-item-category {
        font-size: 16px;
    }

    .article-item-title {
        font-size: 23px;
    }

    .overlay-layer {
        padding: 50px 80px 0px 80px;
        position: relative;
        top: -120px;
        background: white;
    }
}

@media screen and (max-width: 768px) and (min-width: 415px) {
    .content-section h1 {
        font-size: 40px;
        margin-top: 60px;
    }

    .content-section p {
        font-size: 16px;
    }

    .check_container {
        width: 45%;
    }

    .article-item-container {
        width: 100%;
    }

    .article-item-category {
        font-size: 14px;
    }

    .article-item-category:before {
        top: 44px;
    }

    .article-item-title {
        font-size: 24px;
    }

    .overlay-layer {
        padding: 30px 50px 0px 50px;
        position: relative;
        top: -80px;
        background: white;
    }
}

@media screen and (max-width: 414px) {
    .main-article-image {
        min-height: 200px;
    }
    .content-section h1 {
        font-size: 32px;
        margin-top: 40px;
    }

    .content-section p {
        font-size: 16px;
    }

    .check_container {
        width: 100%;
    }

    .customize-btn {
        width: 100%;
    }

    .customize-see-more-btn {
        width: 100%;
    }

    .article-item-container {
        width: 100%;
    }

    .article-item-category {
        font-size: 16px;
    }

    .article-item-category:before {
        top: 46px;
    }

    .overlay-layer {
        padding: 20px 20px 0px 20px;
        position: relative;
        top: -50px;
        background: white;
    }
}

.article-body img {
    max-width: 100%;
    height: auto;
}

.article-body div {
    max-width: 100%;
    height: auto;
}

.article-body iframe {
    max-width: 100%;
    height: auto;
}
