body{
	counter-reset: section; 
}
/* Colors */
.btn-transparent{
	background-color: transparent;		
}	
.btn.active, .btn.btn-default.active, .btn.btn-default:active, .btn:active, .open>.btn.btn-default.dropdown-toggle, .open>.btn.dropdown-toggle, .show>.btn.btn-default.dropdown-toggle, .show>.btn.dropdown-toggle{
	color: #BAC0C5;
}
.btn.btn-default.focus, .btn.btn-default:focus, .btn.focus, .btn:focus{
	color: #BAC0C5;
}
.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active{
	background-color: transparent;	
}
.text-primary{
	color: #06038D !important;
}
.text-warning{
	color: #FF6B6B !important;
}
.text-white{
	color:white !important;
}
.text-thick-grey{
	color:#8C9196 !important;
}
.text-black{
	color: #020A09 !important;
}
.text-grey{
	color:#BAC0C5 !important;
}
.text-bold{
	font-weight: bold;
}
.text-italic{
	font-style: italic;
}
.text-normal{
	font-weight: normal !important;
}
.text-green{
	color:#78E6D0 !important;
}
.text-top{
	vertical-align: text-top;
}
.bd-white{
	border:1px solid #fff !important;
}
/*font-size*/
.fs-16{
	font-size: 16px !important;
}
.fs-18{
	font-size: 18px !important;
}
.fs-20{
	font-size: 20px !important;
}
.fs-21{
	font-size: 21px !important;
}
.fs-24{
	font-size: 21px !important;
}
.fs-30{
	font-size: 30px !important;
}
.fs-40{
	font-size: 40px !important;
}
.hr-h{	
	margin:0 10px;
}
/*General style*/
.m0-auto{
	margin: 0 auto;
}
.mt-0{
	margin-bottom: 0px  !important;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mb-20{
	margin-bottom: 20px !important;
}
.mb-30{
	margin-bottom: 30px !important;
}
.mb-40{
	margin-bottom: 40px !important;
}
.mb-50{
	margin-bottom: 50px !important;
}
.mt-0{
	margin-top: 0px  !important;
}
.mt-10{
	margin-top: 10px  !important;	
}
.mt-20{
	margin-top: 20px  !important;	
}
.mt-30{
	margin-top: 30px !important;
}
.mt-40{
	margin-top: 40px;	
}
.mt-50{
	margin-top: 50px;	
}
.mt-60{
	margin-top: 60px;	
}
.mti-20{
	margin-top: -20px !important;
}
.mt-80{
	margin-top: 80px;	
}
.ml-0{
	margin-left: 0px;
}
.ml-10{
	margin-left: 10px;
}
.ml-15{
	margin-left: 15px;
}
.ml-20{
	margin-left: 20px;
}
.ml-30{
	margin-left: 30px;
}
.mr-15{
	margin-right: 15px;
}
.mlr-20{
	margin-left: 20px;
	margin-right: 20px;
}
.pd-15{
	padding: 15px !important;
}
.pt-20{
	padding-top: 20px;
}
.pt-40{
	padding-top: 40px;
}
.pb-10{
	padding-bottom: 10px;
}
.pl-15{
	padding-left: 15px;
}
.pl-20{
	padding-left: 20px;
}
.pr-15{
	padding-right: 15px;
}
.pr-40{
	padding-right: 40px;
}
.min-h100{
	min-height: 100px !important;
}
.max-h100{
	max-height: 100px !important;
}
.min-h200{
	min-height: 200px !important;
}
.hide{
	display: none;
}

.list-style-none{
	list-style: none;
}
.list-style-circle{
	list-style-type: circle;
}
.list-style-lower-alpha{
	list-style-type: lower-alpha;
}
.list-style-lower-roman{
	list-style-type: lower-roman;
}
.list-style-upper-alpha{
	list-style-type: upper-alpha;
}
.list-style-disc{
	list-style-type: disc;
}

/* Flex style*/
.flex-row{
	display: flex;
	flex-direction: row;
}
.flex-column{
	display: flex;
	flex-direction: column;
}
.align-items-center{
	align-items: center;
}
.justify-content-start{
	justify-content: flex-start;
}
.justify-content-center{
	justify-content: center;
}
.justify-content-end{
	justify-content: flex-end;
}
.flex-end{
	align-self: flex-end;
}
/*Font*/
h1,h2,h3,h4,h5,h6{
	font-family: DM Sans !important;
}
h1{
	font-size: 64px;
	line-height: 72px;
}
h2{
	font-size: 42px;
	line-height: 54px;
}
h3{
	font-size: 30px;
	line-height: 36px;
}
h4{
	font-size: 20px;
	line-height: 24px;
}
h5{
	font-size: 16px;
	line-height: 18px;
}
h6{
	font-size: 12px;
	line-height: 14px;
}

a {
	color: #78E6D0;
}
a:link {
	color: #78E6D0;
    text-decoration: none;
}

a:visited {
	color: #78E6D0;
    text-decoration: none;
}

a:hover {
	color: #78E6D0;
    text-decoration: none;
}

a:active {
	color: #78E6D0;
}

a.back-icon,
a.back-icon:link,
a.back-icon:visited,
a.back-icon:hover,
a.back-icon:active {
	color: #BAC0C5;
}
/*General Style*/
.sendmessage-btn{
	border: 2px solid #06038D;
	background:transparent;
    border-radius: 25px;
    color: #06038D;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    min-width: 200px;
    height: 50px;
    margin: 20px 0px;
}
.sendmessage-btn:hover {
    color: #4542bd;
    border: 2px solid #4542bd;
}
.custom-btn1 {
    border: 2px solid #06038D;
    border-radius: 25px;
    color: #06038D;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    width: 224px;
    height: 50px;
    margin: 20px 0px;
    background-color: transparent;
}
.custom-btn1:hover {
    color: #4542bd;
    border: 2px solid #4542bd;    
}
.bmd-form-group{
	padding-top: 4px;
	width: 100%;
}
.bg-pattern-side{
	position: relative;
}
.bg-pattern-side:before{
	content: "";
	background-image: url("../images/patterns/background_02.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	width: 400px;
    height: 400px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 10px;
}
.bg-pattern-side:after{
	content: "";
	background-image: url("../images/patterns/BG-half-right-desktop.svg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	width: 400px;
    height: 400px;
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
}

.bg-pattern1-left,
.bg-pattern1-right {
	position: relative;
}
.bg-pattern1-left:before,
.bg-pattern1-right:before {
	content: "";
	background-image: url("../images/patterns/BG-left-desktop.svg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	width: 700px;
    height: 400px;
    display: block;
    position: absolute;
    left: 0px;
    top: 10px;	
}
.bg-pattern1-right:before {
	background-image: url("../images/patterns/BG-right-desktop.svg");
	right: 0px;
}

.back-icon{
	color: #BAC0C5;
	font-size: 14px;
	font-weight: bold;	
}	
.back-icon span{
	vertical-align: middle;
	margin-left: 10px;	
}
.rotated{
	transform: rotate(180deg);
}
i.rotated{
	border-top: 1px solid #BAC0C5;
    width: 9px;
    text-indent: -3px;
    height: 12px;
    color: #BAC0C5;
    position: relative;
    font-size: 16px;
}
i.rotated:before{
	content: "";
    height: 3px;
    width: 12px;
    background: #fff;
    position: absolute;
    top: 12px;
    left: -2px;
}
.more_dropdown{
	list-style: none;
	position: relative;
	display: inline-block;
}
.more_dropdown a .open{
	display: none;
}
.more_dropdown div{
	display: none;
	position: absolute;
	box-shadow: 0px 15px 25px #00000029;
	border: 2px solid #DAE1E5;
	border-radius: 5px;
    background-color: #fff;
    z-index: 100;
    width: 350px;
    top: 35px;
    right: -193px;
    text-indent: 0px;
    padding: 15px;
}
.more_dropdown div:after{
	content: "";
    position: absolute;
    top: -7px;
    right: 50%;
    display: inline-block!important;
    background: #fff;
    padding: 5px;
    border: solid #dae1e5;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.number-counter{
	font-size: 20px;
	font-weight: bold;
	position: relative;
	padding-left: 50px;
	height: 54px;
	display: table;
}
.number-counter:before{
	counter-increment: section;
  	content: counter(section) ". "; 
  	font-size: 54px;
  	font-weight: bold;
  	color: #FF6B6B;  	
  	position: absolute;
  	left: 0;  	
  	bottom: 0;
  	line-height: 54px;
}
.number-counter span{
	vertical-align: middle;
	display: table-cell;
}
.error_notice:before{
	margin-right: 5px;
}
.tooltip-inner {
    min-width: 300px;
    text-align: left;
}
[data-toggle="tooltip"]{
	cursor: pointer;
	line-height: 24px;
	font-size: 20px;
}
/*Header*/
.fixed_bg {
	background-color: #06038D;
}
.fixed_bg .navbar{
	background-color: transparent !important;
	color: #fff;
	padding:0px;
	margin: 0px;
}
.fixed_bg .navbar .material-icons {
	margin-top: -10px !important;
	margin-right: 6px !important;
}
.fixed_bg .navbar .navbar-nav .nav-item .nav-link{
	padding:5px 0px;
	text-transform: none;
	font-size: 14px;
}
.fixed_bg .navbar .navbar-nav .nav-item.dropdown{
	padding-left: 20px;
}
.dropdown-menu{
	/*border:2px solid #dae1e5;	*/
	background-color: white;
	top:120%;
	width: fit-content;	
	right:calc(-50%);
	left: unset;
}
.fixed_bg .navbar-expand-lg .navbar-nav .dropdown-menu h4, .fixed_bg .navbar-expand-lg .navbar-nav .dropdown-menu h5 {
	padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.dropdown-menu:before{
	content: "";
	position: absolute;
    top: -7px;
    right: 50%;
    display: inline-block!important;
	background: #fff;
	padding: 5px;
	border: solid #dae1e5;
	border-width: 0 2px 2px 0;
	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);    
}
.more_info.dropdown-menu:before{
	left: 68px;
	right: auto;
}
.fixed_bg .dropdown-toggle:after{
	content: "";
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);  	
  	position: absolute;
  	top: 10px;
  	margin-left: 8px;
}
.dropdown.show>.dropdown-toggle:after{
	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
  	top: 14px;
}
a.dropdown-toggle[aria-expanded='true']:after{
	transform: rotate(180deg);
}
a.dropdown-toggle:after{
	margin-left: 9px;
}
.fixed_bg .navbar-expand-lg .navbar-nav .dropdown-menu{
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.fixed_bg .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item{	
	margin: 0px;
	color:#8c9196;
	font-weight: 500;
}
.fixed_bg a{
	color: #fff;	
}
.fixed_bg a:hover{
	color: #bbb !important;
}
.fixed_bg .dropdown-menu a.dropdown-item:hover{
	background-color:#06038D !important;	
}
.app-top-bar{
	display: flex;
}
.app-top-bar .app-brand{
	margin:30px auto;
}

#main_menu{
	margin-left: -15px;
	margin-right: -15px;
	box-shadow: none;
	border-top: 1px solid #DAE1E5;
	border-bottom: 1px solid #DAE1E5;
}
#main_menu >.container{
	justify-content: center;
}
#main_menu .navbar-collapse{
	flex-grow: 0;
}
#main_menu .navbar-nav li{
	border-left:1px solid #DAE1E5;
}
#main_menu .navbar-nav li:first-child{
	border:none;
}
#main_menu .navbar-nav li a{
	padding:0.35rem 1rem;
	font-weight: bold;
	text-transform: capitalize;
	color: #8C9196;
	font-size: 16px;
}
#main_menu .navbar-nav li a.active, #main_menu .navbar-nav li:hover a{
	color: #06038D;	
}
/*Homepage*/
.card{
	border:none;
	border-radius: 0px;
	box-shadow: none;	
}
.card .card-header{
	padding: 0px;
}
.card .card-header img{
	width: 100%;
	opacity: 0.8;
}
.card .card-title {
	font-family: DM Sans;
	font-size: 16px;
}
.card .card-category{
	font-family: DM Sans;
	font-size: 14px;
	color: #000 !important;
	text-transform: capitalize;
	font-weight: normal;
}
.card.card-background:after{
	border-radius: 0px;
	background-color: none;
	opacity: 0;
}
.card.card-background .card-body{
	margin: 0px;
	text-align: left;
	padding-left:6rem;
}
.card.card-background .card-body .card-category{
	color: #78E6D0 !important;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 20px;
}
.card.card-background .card-body .card-author{
	color: #fff;
	margin-top: 30px;
}
.card.card-background .card-body .card-author img{
	width: 92px;
	margin-top: -5px;
}
.card.card-profile .card-body .img{
	max-width: 85px;
    max-height: 40px;
}
.card .card-body .card-description{
	color: #000;	
}
.btn.readmore{
	color:white;
	border: 2px solid #fff;
	font-size: 14px;
	background-color: transparent;
	padding: 0.75em 3.5em;
	text-transform: uppercase;
}
.app-partner-items div.app-partner-item{
	border: 1px solid #ddd;
	margin-bottom: 10px;
}
.app-partner-items div.app-partner-item .info-title{
	max-height: 30px;
	min-height: 30px;
}
.app-partner-item .icon img{
	width: 30%;
    max-height: 60px;
    height: 60px;
}
.app-partner-item .img{
	text-align: center;
}
.app-partner-item .img img{
	max-width: 100%;
    max-height: 70px;
    margin: 20px auto;
}
.info{
	text-align: center;
	padding:35px 0 18px;
}
.text-free{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: -1rem;
}
.more_email{
	cursor: pointer;
}
/*footer section1*/
.footer_section1 h5{
	font-size: 18px;
	font-weight: bold;
}
.footer_section1 ul li{
	margin-bottom: 10px;
}
.footer_section1 ul li a {
	color: #8c9196;
	font-weight: 500;
}
.footer_section1 ul li:before{
	content: ">";
	display: inline-block;
	color: #8c9196;	
	font-weight: 500;
	padding-right: 5px;
}
.footer_section1 .readmore-inourblog-btn {
	margin: 50px auto;
	background-color: transparent;
}
.app-footer-section{
	display: table;
	max-width: 100%;
}
.app-footer-section >div{
	display: table-cell;
	width: 33.33%;
	vertical-align: middle;
}
.app-footer-section .app-footer-social-link-container{
	text-align: right;
	position: unset;
}
.app-footer-section .app-footer-social-link-container h4{
	display: none;
}
.app-footer-section .app-footer-link{
	position: unset;	
}

/*Login*/

#auth{
	-webkit-box-shadow: 0px 1px 3px #DAE1E5 !important;
	-moz-box-shadow: 0px 1px 3px #DAE1E5 !important;
	box-shadow: 0px 1px 3px #DAE1E5 !important;		
	border-bottom: 1px solid #DAE1E5;	
	position: relative;
	margin-bottom: 4rem;
}
.auth-section h1{
	font-size: 64px !important;	
	line-height: 70px !important;		
}
.auth-section .h4-intro{
	font-size: 24px !important;
	line-height: 30px !important;	
}
.auth-section .btn-link:hover{
	/*border: 1px solid transparent !important;*/
	color: #eb4444;
}

.auth-section .text-wrapper{
	display: flex;
	flex-direction: column;
	padding: 10px 0px;
	margin-bottom: 0.5rem;	
}
.auth-section textarea{
	width: 100%;
	min-height: 200px;
    border: 2px solid #e9e9e9;
    border-radius: 24px;
    padding: 12px 24px;
    font-size: inherit;
}
.auth-section textarea:focus{
	border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}
.auth-section textarea::placeholder{
	color: #87888e;
}
#forgot_pass_link, #login_link{
	text-transform: none;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
}
/*Register*/


/*Blogs*/
.blog-header h1, .cat-header h1{
	font-size: 40px;
	line-height: 44px;
	font-weight: bold;
	color: #06038D;	
	line-height: 46px;
}
.blog-header p.area{
	font-size: 18px;
	color: #020A09;	
}
.blog-header p.area span:after{
	content: ",";
	margin-right: 5px;
}
.blog-header p.area span:last-child:after{
	content: '';
}
.blog-header p.category{
	font-size: 18px;	
}
.blog-header p.category a{
	color: #78E6D0;
}
.blog-header p.category span{
	color: #78E6D0;
	text-transform: capitalize;	
	font-size: 18px;
}
.blog-header p.category label span:first-child:before{
	content: "/";
	margin-right: 5px;
	margin-left: 5px;
}
.blog-header p.category span:after{
	content: ",";
	margin-right: 5px;
}
.blog-header p.category span:last-child:after{
	content: '';
}
.blog-content{
	padding-top: 30px;
}
.blog-content .pure-material-textfield{
	font-size: 18px;
	font-weight: bold;
	color: #020A09;
}
.blog-content .blog-img{
	width: 100%;	
}
.blog-content .explain{
	font-size: 24px;
	font-weight: bold;
	color: #020A09;
}
.blog-content .short-desc{
	font-size: 16px;
}
.blog-content .subcategory, .blog-content .country{
	font-size: 16px;	
	color: #020A09;
	display: block;
	margin:10px 0;
}
.blog-content .author_avatar{
	border: 1px solid #DAE1E5;
	padding: 30px 40px;
	width: fit-content;
	margin:10px 0 30px 0;
	max-width: 210px;
	min-width: 200px;
}
.blog-content .author_avatar img{
	width: 100%;
}
.blog-content .author a{
	font-size: 18px;
	color: #78E6D0;	
	display: block;
}
.blog-content .nav-tabs-wrapper{
	margin:20px 0;
	border-bottom: 1px solid #D0D7DD;
}
.blog-content .nav-tabs-wrapper .nav-tabs{
	padding: 0px;
}
.blog-content .nav-tabs-wrapper .nav-item a{
	color: #8C9196 !important;
	font-size: 18px;
	text-transform: capitalize;
}
.blog-content .nav-tabs-wrapper .nav-item a:hover, .blog-content .nav-tabs-wrapper .nav-item a:active, .blog-content .nav-tabs-wrapper .nav-item a:focus{
	color: #020A09 !important;
}
.blog-content .nav-tabs-wrapper .nav-item a.active{
	color: #020A09 !important;
	border-bottom: 2px solid #78E6D0 !important;
}
.blog-content .link-content .link-box{
	position: relative;
	padding: 10px 0px;
}
.blog-content .link-content .link-box:before{
	content: '';
	border-top: 2px solid #78E6D0;
	width: 60px;
	display: block;
	position: absolute;
	top: 0px;	
}
.blog-content .link-content .link-box:first-child{
	padding-top: 0px;
}
.blog-content .link-content .link-box:first-child:before{
	content: none;
}
.blog-content .link-content .link-box h2{
	font-size: 30px;
	font-weight: bold;
}
.blog-content .link-content .link-box p{
	font-size: 18px;
}
.blog-content .link-content .link-box .region{
	padding: 15px 0px;
}
.blog-content .link-content .link-box .region label{
	font-size: 18px;
	color: #8C9196;
}
.blog-content .link-content .link-box .region span{
	font-size: 18px;
	color: #020A09;
}
.blog-content .link-content .link-box .region span >span:after{
	content: ",";
}
.blog-content .link-content .link-box .region span >span:last-child:after{
	content: "";
}
.blog-content .link-content .link-box .download i{
	color: #BAC0C5;
}

.blog-content .link-content .link-box .download span{
	color: #BAC0C5;
	font-size: 14px;
	vertical-align: top;
	margin-left: 10px;
}
.blog-content .link-content .link-box .buy_lists{
	margin-top: 30px;
}
.blog-content .link-content .link-box .buy_lists .buy_list {
	border-top: 1px solid #D0D7DD;	
	padding-top: 30px;
	padding-bottom: 15px;
}
.blog-content .link-content .link-box .buy_lists .buy_list h3{
	font-size: 20px;
	color: #020A09;
	margin: 0px;
	font-weight: bold;
}
.blog-content .link-content .link-box .buy_lists .buy_list label{
	font-size: 18px;
}
.blog-content .link-content .link-box .buy_lists .buy_list a{
	font-size: 14px;
	color: #020A09;
}
.blog-content .link-content .link-box .buy_lists .buy_list .price {
	font-size: 20px;
	color: #FF6B6B;
	font-weight: bold;
}
.blog-content .link-content .link-box .buy_lists .buy_list button{
	display: inline-block;
	font-size: 14px;
	width:auto;
	padding-left: 20px;
	padding-right: 20px;
	margin: 15px 0px 15px 20px;
}
.form-check .form-check-sign .check.is-invalid{
	border-color:#eb4444;
}
.dropzone.dz-clickable {
    cursor: pointer
}
.dropzone {
    min-height: 150px;
    border: 1px solid rgba(42, 42, 42, 0.05);
    background: rgba(204, 204, 204, 0.15);
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px 0 rgba(43, 43, 43, 0.1);
    box-shadow: inset 0 0 5px 0 rgba(43, 43, 43, 0.1)
}
.custom-dropdown .custom-dropdown-menu h4{
	font-size: 18px;
	font-weight: bold;
	color: #020A09;
	margin-bottom: 20px;
}
.custom-dropdown .custom-dropdown-menu h5{
	font-size: 14px;
	font-weight: bold;
	color: #020A09;
}
.custom-dropdown .select span{
	text-transform: capitalize;
}
.custom-dropdown .custom-dropdown-menu .check_container{
	width: 32%;
	display: inline-block;
}
.custom-dropdown .custom-dropdown-menu .check_container .pure-material-checkbox > span{
	text-indent: 0px;
}
.custom-dropdown-menu{
	box-shadow: 0 0 2px rgb(123, 126, 129);
	background-color: #fff;
	position: absolute;
	z-index: 100;
	width: 100%;
	top: 70px;
	text-indent: 0px;
	padding:20px 30px;
}
.custom-dropdown-menu:after{
	content: "";
    position: absolute;
    top: -7px;
    right: 28px;
    display: inline-block!important;
    background: #fff;
    padding: 5px;
    border: solid #dae1e5;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.custom-dropdown-container{
	margin: 10px 0px;
}
.custom-dropdown-container .custom-dropdown {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 2px rgb(123, 126, 129);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left;
    border-radius: 24px;
    text-indent: 15px;
    height: 48px;
    line-height: 28px;
    /* margin: 10px 0px 17px; */
    position: relative;
}
.custom-dropdown-container .custom-dropdown:focus {
    outline-color: transparent;
}
.custom-dropdown-container .custom-dropdown >div:before {
    content: ' ';
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(../images/patterns/select_drop.png);
    background-repeat: no-repeat;
    top: 10px;
    right: 19px;
    border-radius: 15px;
}
.custom-dropdown-container .custom-dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px;
    height:50px;
}
.custom-dropdown-container .custom-dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.custom-dropdown-container .custom-dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.custom-dropdown-container .custom-dropdown .input input{
	width: 100%;
    margin: 20px 0;
}
.custom-dropdown-container .custom-dropdown .custom-dropdown-menu .customize-btn{
	margin: 20px 0 0 0;
}
.custom-dropdown-container .custom-dropdown .country_list{
	margin-bottom: 0px;
}
.select2-container .select2-dropdown--below{
	box-shadow: 0 0 2px rgb(123, 126, 129);
	/*border:1px solid rgb(204, 204, 204);*/
    background-color: #fff;
    position: absolute;
    z-index: 100;
    width: 100%;    
    text-indent: 0px;
    padding: 20px 30px;
    border:0px;
}
.select2-container .select2-dropdown--below:after{
	content: "";
    position: absolute;
    top: -7px;
    right: 28px;
    display: inline-block!important;
    background: #fff;
    padding: 5px;
    border: solid #dae1e5;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.select2-container .select2-dropdown--above{
	box-shadow: 0 0 2px rgb(123, 126, 129);
	/*border:1px solid rgb(204, 204, 204);*/
    background-color: #fff;
    position: absolute;
    z-index: 100;
    width: 100%;    
    text-indent: 0px;
    padding: 20px 30px;
    border:0px;
}
.select2-container .select2-dropdown--above:after{
	content: "";
    position: absolute;
    bottom: -7px;
    right: 28px;
    display: inline-block!important;
    background: #fff;
    padding: 5px;
    border: solid #dae1e5;
    border-width: 0 2px 2px 0;
    transform: rotate(-315deg);
    -webkit-transform: rotate(-315deg);
}
.data-offer .step{
    display: none;
}
.data-offer .step.current{
    display: block;
    
    animation: slide-left .3s ease-out;
    -webkit-animation: slide-left .3s ease-out;
    -moz-animation: slide-left .3s ease-out;
}
.data-offer #before.step.current{
    display: block;
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
}
.data-offer .step.current.back{
    display: block;
    
    -webkit-animation: slide-right .3s ease-out;
    -moz-animation: slide-right .3s ease-out;
}

@-webkit-keyframes slide-left {
      0% { opacity: 0; -webkit-transform: translateX(100%); }   
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-left {
      0% { opacity: 0; -moz-transform: translateX(100%); }   
    100% { opacity: 1; -moz-transform: translateX(0); }
}
@-webkit-keyframes slide-right {
      0% { opacity: 0; -webkit-transform: translateX(-100%); }   
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-right {
      0% { opacity: 0; -moz-transform: translateX(-100%); }   
    100% { opacity: 1; -moz-transform: translateX(0); }
}

.data-offer .text-wrapper .error_notice{
	position: absolute;
	left: 0px;
	bottom: 0px;
}
#samples .image{
	width: 49%;
	display: inline-block;
	padding: 20px 10px 10px 0px;
}
#samples .image img{
	width: 100%;
    height: 280px;
    border: 1px dashed #D0D7DD;
}
.cat-header h4{
	font-size: 20px;
	font-weight: bold;	
}
.cat-header p{
	font-size: 18px;
}
.cat-body .cat-label{
	font-size: 18px;
	font-weight: bold;
	color: #020A09;
	display: table-cell;
    padding-right: 10px;
    white-space: nowrap;
}
.cat-body .cat-select{
	display: table-cell;
	width: 100%;
}
.cat-select.adv-combo-wrapper .select2-container{
	margin: 0px;
}
.cat-select .region-select span.region{
	width: 49%;
	display: inline-block;
	margin-bottom: 10px;
	cursor:pointer;
}
.cat-select .region-select span.region.active, .cat-select .region-select span.region:hover{
	color: #78E6D0;
}
.offer-location span:after{
	content: ",";
    margin-right: 5px;
}
.offer-location span:last-child:after{
	content: "";
    margin-right: 5px;
}
#offer-list .card .card-header img{
	min-height: 270px;
    max-height: 270px;
}
.community-filter .community{
	display: flex;
	align-items: center;
}
.community-filter .community >div{
	min-width: 294px;
}
.community-filter .theme{
	display: flex;
	align-items: center;
}
.community-filter .region{
	display: flex;
	align-items: center;
}
#region .adv-combo-wrapper .select2 .selection .select2-selection{
	box-shadow: none;
	border-bottom: 1px solid #DAE1E5;
    border-radius: 0px;
    margin-bottom: 20px;
}
#region .adv-combo-wrapper .select2 .selection .select2-selection .select2-selection__arrow{
	background-image:url('../images/design/icon-action-search_24px.svg');
}
.hero_overlay_bg{
	background: linear-gradient(0.25turn, #020a09, hsla(0,0%,80%,.15), hsla(0,0%,82%,0));
	opacity: 0.7;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
/*wallet page*/
#wallet .download i{
	font-size: 16px;
	color: #BAC0C5;
}
#wallet .download span{
	color: #BAC0C5;
	font-size: 14px;
	margin-left: 14px;
}
#wallet .wallet_fill{
	display: inline-block;
}
.more_info{
	color: #020A09;
	position: relative;
}
.more_info i{
    position: absolute;
    right: -20px;
    top: -5px;
}
#transactions table tr{
	border-bottom: 1px solid #D0D7DD;
}
#transactions table td{
	border-top: none;
	font-size: 14px;
}
#transactions table td i{
	transform: rotate(45deg);
	font-size: 16px;
	vertical-align: text-top;
	margin-right: 10px;
}

#bids{
	margin-top: 50px;
}
#bids .bid{
	width: 100%;    
    background-color: #fff;
    box-shadow: 0 0 2px rgb(123, 126, 129);    
    position: relative;    
    color: #474747;
    text-align: left;
    padding: 20px 30px;
    border-left:4px solid #DAE1E5;
    margin-bottom: 30px;
    color: #020A09;
}
#bids .bid.open{
	border-left-color:#78E6D0;
}
#bids .bid a{
	color: #020A09 !important;
	text-transform: capitalize;
	padding: 0px;
}
#bids .bid a:hover{
	color: #333 !important;
}
#bids .bid h4{
	line-height: 24px;
}
#bids p{
	margin-bottom: 0px;
}
#bids .bid >div label{
	color: #8C9196;
	min-width: 150px;
}
#bids .bid >div span{
	color: #020A09;
	font-size: 14px;
	font-weight: bold;
}
#bids .bids_list .bid_desc{
	width: 100%;
	border-top: 1px solid #DAE1E5;
	padding: 20px 30px;	
}
#bids .bids_list .bid_desc .row{
	margin-bottom: 20px;
}
/*Data offer publish */
.testimonials{
	display: grid;
	grid-template: repeat(1, 1fr) / repeat(2, 1fr);
	gap:0px 30px;
}
.testimonials .testimonial{	
	border: 1px solid #DAE1E5;	
	background-color: #fff;
	padding: 50px 30px;
}
.testimonials .testimonial:before{
	content: "";
	background-image: url('../images/patterns/double_quote.png');
	width: 50px;
	height: 50px;
	display: block;
	background-repeat: no-repeat;
	margin: 0 auto;
	background-size: contain;
}
.testimonials .testimonial p{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.testimonials .testimonial .author{
	margin-top: 30px;
	color: #8C9196;
}
.publish_box {
	border: 1px solid #DAE1E5;	
	padding: 30px 50px;
	background-image: url('../images/patterns/background_00.png');
	background-repeat: no-repeat;
	background-position: center;	
	background-size: 60%;
	text-align: center;
}
.cta_box{
	border: 1px solid #DAE1E5;	
	padding: 30px 90px;
	background-image: url('../images/patterns/BG-left-desktop.svg');
	background-repeat: no-repeat;
	background-position: left center;	
	background-size: 35%;
	text-align: left;
}
#no_thank_link{
	text-transform: none;
	margin-top: 38px;
}
#no_thank_link i{
	margin-top: -18px;	
}
/*profile section*/
#edit-button, #cancel-button{
	color: #BAC0C5;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 0;
	z-index: 100;
}
#edit-button i{
	font-size: 18px;
	margin-right: 5px;
}
.profileinfo .companylogo img{
	border:1px solid #DAE1E5;
	max-width: 215px;
	max-height: 120px;    
    margin-top: 30px;    
}
#company-profile-edit-section .fileupload{
	margin-top: 30px;
	width: 50%;
}
.custom-select2.no-border {
	width: 100%;	
}
.custom-select2.no-border .select2 .selection .select2-selection {
	border-radius: 0;
    padding: 0;
    max-height: 38px;
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid #d2d2d2;
    text-indent: 0px;
    padding-top: 8px;   	
}
.custom-select2.no-border .select2 .selection .select2-selection:hover{
	box-shadow: none;
}
.custom-select2.no-border .select2 .selection .select2-selection .select2-selection__arrow{
	top: 6px;
}
.custom-select2.no-border .select2.select2-container--open .selection .select2-selection:hover, .custom-select2.no-border .select2.select2-container--open .selection .select2-selection{
	box-shadow: none;
	background:transparent;
}
.users table td{
	border-top: none;
	border-bottom: 1px solid rgba(0,0,0,.06);
}
.users table thead th{
	border:none;
	padding-bottom: 0px;
}
/*data offer product publish*/
.period .custom-select2{
	display: inline-block;
	min-width: 200px;
}
.period .period_select{
	display: none;
}
.period input{
	max-width: 150px;
	padding-left: 30px;
}
.period .currency {
	position: absolute;
    left: 14px;
    padding-top: 10px;
    font-size: 18px;
}
.period .period_select >label{
	width: auto;
}
/*data offer list*/
.makematching >div{
	box-shadow: 0 0 2px rgb(123, 126, 129);
	height: 100%;
	align-items: center;
	display: flex;		
}

#layoutHeader{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.14);
}
#layoutContent{
	margin-top: 108px;
}
#layoutContent .success-msg{
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.app-wapper-privacy-policy p, .app-wapper-cookie-policy p{
	margin-bottom: 0px;
}
.app-wapper-privacy-policy ul, .app-wapper-cookie-policy ul{
	margin-bottom: 0px;
}
.publish_start h4{
	padding-left: 30px;
	position: relative;	
}
.publish_start h4>span{
	margin-top: 10px;
    position: absolute;
    left: -1px;
    top: -10px;
}
.feedback{
	display: block;
	font-size: 12.8px;
	font-family:"DM Sans";
	font-weight: bold;
	color: #020A09;
}
.invalid-feedback{
	display: block;
	font-size: 12.8px;
	font-family:"DM Sans";
	font-weight: bold;
	color: #f44336!important;
}
.xh_loading{
	position: relative;
}
.xh_loading.on:before{
	content: "";
	background-image: url("../images/loading.gif");
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	right: -60px;
	top: -5px;
	z-index: 100;
	background-size: contain;
}