/* switch data offer steps */
.app-section.step2 {
	display: block;
}
.app-section.step3 {
	display: block;
}
.app-section.step4 {
	display: block;
}

/* Profile */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-vcenter {
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
}

.flex-vcenter-justify {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn-rounded {
    border-radius: 10em;
}

.container-fluid .navbar {
	margin-bottom: 0px;
}

.container-fluid .container {
	text-align: left;
	font-family: DM Sans;
	font-style: normal;
	color: #020A09;	/* $color-basic */
}

.profile .Path_10666 {
    overflow: visible;
    position: absolute;
    width: 690.685px;
    height: 330.512px;
    margin-top: 18.1px;
    margin-left: -104.685px;
    /*top: 227.611px;*/
    transform: matrix(1,0,0,1,0,0);
}

#Path_10666 {
    opacity: 0.2;
}

.page-title {
	margin-top: 4.5px;
	margin-bottom: 4.5px;
	white-space: nowrap;
	line-height: 44px;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 0.17857131958007813px;
}
.label {
	padding-left: 2px;
}
.companyname {
	white-space: nowrap;
	line-height: 27px;
	margin-top: -1.5px;
	font-weight: normal;
	font-size: 18px;
	color: #020A09;	/* $color-basic */
}
.adminname {
	margin-top: 11px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -4.5px;
	font-weight: normal;
	font-size: 18px;
	color: rgba(120,230,208,1);
}

.profileinfo {
	margin-top: 65px;
	width: 700px;
	margin-left: 3px;
	position: relative;
}
.profileinfo .sectiontitle {
	white-space: nowrap;
	line-height: 36px;
	font-weight: bold;
	font-size: 30px;
	color: #020A09;	/* $color-basic */
	letter-spacing: 0.17857139587402343px;
}
.info-label {
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,145,150,1);
	padding-right: 0px;
}
.info-text {
	font-weight: bold;
	font-size: 14px;
	color: rgba(140,145,150,1);
}
.Line_ua {
	width: 30px;
	height: 2px;
	margin-left: 4px;
	margin-top: 28.5px;
	transform: matrix(1,0,0,1,0,0);
}
.top-right {
	position: absolute;
	right: 0px;
	top: 0px;
}
.action-button-edit {
	width: 53px;
	height: 19px;
	margin-top: 12px;
}
.action-button-edit .ic-pencil {
	width: 14px;
	height: 14px;
	transform: matrix(1,0,0,1,0,0);
}
.action-button-edit .label-edit {
	margin-left: 13px;
	font-weight: bold;
	font-size: 14px;
	color: rgba(186,192,197,1);
	letter-spacing: 0.1785714340209961px;
}

.app-section.users {
	width: 700px;
	margin-left: 3px;
	margin-top: 29.5px;

	font-weight: normal;
	font-size: 14px;
}
.app-section.users .sectiontitle {
	font-weight: bold;
	font-size: 30px;
	color: #020A09;	/* $color-basic */
	letter-spacing: 0.17857139587402343px;
}
.app-section.users table {
	margin-top: -35px;
}
.col-name {
	color: #020A09;	/* $color-basic */
}
.col-since {
	color: #020A09;	/* $color-basic */
}
th.col-since {
	color: rgba(140,145,150,1);
}
.action-button-delete {
	width: 73px;
}
.action-button-delete .ic-delete-16 {
	width: 16px;
	height: 16px;
	transform: matrix(1,0,0,1,0,0);
}
.action-button-delete .label-delete {
	margin-left: 11px;
	font-weight: bold;
	font-size: 14px;
	color: rgba(186,192,197,1);
	letter-spacing: 0.1785714340209961px;
}

.btn.btn-outline-primary {
    color: #06038D;	/* $color-primary */
    background-color: transparent;
    border-color: #06038D;	/* $color-primary */
}

.btn.btn-outline-primary.focus,.btn.btn-outline-primary:focus,.btn.btn-outline-primary:hover {
    color: #06038D;	/* $color-primary */
    background-color: hsla(0,0%,60%,.2);
    border-color: #06038D;	/* $color-primary */
}

.btn.btn-outline-primary.active,.btn.btn-outline-primary:active,.open>.btn.btn-outline-primary.dropdown-toggle,.show>.btn.btn-outline-primary.dropdown-toggle {
    color: #06038D;	/* $color-primary */
    background-color: hsla(0,0%,60%,.2);
    border-color: #06038D;	/* $color-primary */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

.btn.btn-outline-primary.active.focus,.btn.btn-outline-primary.active:focus,.btn.btn-outline-primary.active:hover,.btn.btn-outline-primary:active.focus,.btn.btn-outline-primary:active:focus,.btn.btn-outline-primary:active:hover,.open>.btn.btn-outline-primary.dropdown-toggle.focus,.open>.btn.btn-outline-primary.dropdown-toggle:focus,.open>.btn.btn-outline-primary.dropdown-toggle:hover,.show>.btn.btn-outline-primary.dropdown-toggle.focus,.show>.btn.btn-outline-primary.dropdown-toggle:focus,.show>.btn.btn-outline-primary.dropdown-toggle:hover {
    color: #06038D;	/* $color-primary */
    background-color: hsla(0,0%,60%,.4);
    border-color: #06038D;	/* $color-primary */
}

.btn-circle.btn-sm { 
    width: 14px; 
    height: 14px; 
    border-radius: 7px; 
    text-align: center; 
    font-size: 14px;

    padding: 0px 4px; 
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.0;
} 

.btn.btn-circle.btn-question {
    font-size: 10px;
}

.btn.btn-circle.btn-delete {
}

.btn-red {
	background-color: #FF6B6B;	/* $color-warn */
    border-color: #FF6B6B;	/* $color-warn */
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	/*box-shadow: 0 0px 15px 0 rgba(255,107,107,.15),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)*/
	/*filter: drop-shadow(0px 15px 25px rgba(255, 107, 107, 0.149));*/
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14),0 3px 1px -2px hsla(0,0%,60%,.2),0 1px 5px 0 hsla(0,0%,60%,.12)
}

.btn.btn-red.focus,
.btn.btn-red:focus,
.btn.btn-red:hover {
    color: #fff;
    background-color: #E15757;
    border-color: #E15757;	/* $color-warn */
}

.btn.btn-red.active,
.btn.btn-red:active,
.open>.btn.btn-red.dropdown-toggle,
.show>.btn.btn-red.dropdown-toggle {
    color: #fff;
    background-color: #E15757;
    border-color: #E15757;	/* $color-warn */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

.btn.btn-red.active.focus,
.btn.btn-red.active:focus,
.btn.btn-red.active:hover,
.btn.btn-red:active.focus,
.btn.btn-red:active:focus,
.btn.btn-red:active:hover,
.open>.btn.btn-red.dropdown-toggle.focus,
.open>.btn.btn-red.dropdown-toggle:focus,
.open>.btn.btn-red.dropdown-toggle:hover,
.show>.btn.btn-red.dropdown-toggle.focus,
.show>.btn.btn-red.dropdown-toggle:focus,
.show>.btn.btn-red.dropdown-toggle:hover {
	color: #fff;
    background-color: #E15757;
    border-color: #E15757;
}

.users .Buttons_Round_Hero {
	width: 170px;
	height: 50px;
	margin-top: 41px;
	margin-bottom: 14px;
	margin-left: 2px;
	border-width: 2px;
	color: #06038D;	/* $color-primary */
	font-weight: bold;
	font-size: 14px;
}
.users .description {
	margin-left: 7px;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,145,150,1);
}

/* purchases */
.purchase-items {
    margin-left: 3px;
    margin-top: 71px;
    width: 1432px;
}

.purchase-item {
    
}

.purchase-item .Shape_tv {
    overflow: visible;
    width: 1434px;
    height: 1px;
    transform: matrix(1,0,0,1,0,0);
    margin-bottom: 34px;
}



.color-basic {
	color: #020A09;	/* $color-basic */
}
.color-success {
	color: #78E6D0;	/* $color-success */
}

.font-21-bold {
	font-size: 21px;
	font-weight: bold;
}

.font-18-bold {
	font-size: 18px;
	font-weight: bold;
}

.font-11-bold {
	font-weight: bold;
	font-size: 11px;
}

.font-14-regular {
	font-weight: normal;
	font-size: 14px;
}

/*#Component_157___20*/
.ic-question {
	width: 14px;
	height: 14px;
	overflow: visible;	
	margin-left: 5px;
	position: relative;
}
.ic-question .Ellipse_18 {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 1px;
	top: 0px;
}

.ic-question .label {
	z-index: 999;
}
/* offers */

/*#Businesses_often_bec*/
.data-offer .sub-title {	
	margin-top: 3px;
	margin-bottom: 3px;
	font-weight: bold;
	font-size: 21px;
	color: #020A09;	/* $color-basic */
	letter-spacing: 0.17857139587402343px;
}

.data-offer .description-header {
	/*position: absolute;*/
	/*width: 689px;*/
}

.data-offer .section-title {
	line-height: 27px;
	font-size: 18px;
	font-weight: bold;
	color: #020A09;	/* $color-basic */
	/*white-space: nowrap;*/
	/*width: 652px;*/
}

.data-offer .text-wrapper {
	display: flex;
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 6px;
}

.data-offer .user-message {
	width: 100%;
	border-color: #E9E9E9;
	border-radius: 24px;
	min-height: 340px;
	padding: 16px 26px;
	margin: 10px 0px;
}

/*#Title_rb */
.data-offer .char-counter
{
	opacity: 0.554;
	position: absolute;
	right: 13px;
	bottom: 0px;

	overflow: visible;
	font-weight: normal;
	font-size: 14px;
	color: #262733;
	letter-spacing: 0.1785714340209961px;
}

.data-offer .buttons {
	justify-content: space-between;
}

.data-offer .btn-next {
	width: 214px;
	height: 50px;
}

.data-offer .example-link {
	margin-top: 3px;
	font-weight: normal;
	font-size: 14px;
	color: #78E6D0;	/* $color-success */
}

.data-offer .header .description {
	font-size: 18px;
	font-weight: normal;
	margin-top: 4.5px;
	margin-bottom: 4.5px;
}

.data-offer .header {
	margin-bottom: 65px;
}

.data-offer .file-drag-drop-zone {
	display: none;
}

.data-offer .file-drag-drop-zone .drag-drop-dummy {
	margin-top: 9px;
	margin-bottom: 11px;
	/*width: 702px;*/
	height: 187px;
	background: #aaa;
	display: none;
}

.data-offer .file-drag-drop-zone .file-entries,
.data-offer .file-upload .file-entries {
	margin-top: 12px;
}

.data-offer .file-entries .file-entry {
	color: #8C9196;
	font-size: 14px;
	font-weight: bold;
	margin: 4.5px 0.5px;
}

.data-offer .header .right-block {
	margin-top: 22px;
}

.data-offer .images-block {
	margin-top: 25px;
}

.data-offer .images-block .description1 {	
	font-size: 14px;
	font-weight: normal;
	color: #020A09;	/* $color-basic */
}

.data-offer .fileupload .description {	
	color: #78E6D0;
	font-weight: normal;
	font-size: 18px;
	margin-top: 4.5px;
	margin-bottom: 4.5px;
	text-align: left;
}

.data-offer .images-block .images-list {	
	margin-top: 22px;
	display: none;
}

.data-offer .images-block .images-list .image-item {	
	width: 336px;
	height: 201px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 12.5px;
	margin-bottom: 12.5px;
	background: url('/images/dummy/data-offer-image.png');
}

.data-offer .gray-icon {
	color: #BAC0C5;
	width: 14px;
	height: 14px;
	font-size: 16px;
	display: flex;
	margin-left: 16px;
}

.data-offer .gray-icon:hover {
	color: #8C9196;
}

/*.data-offer .gray-icon::before {
	content: ' ',
	width: 16px;
}
*/
/*.data-offer .icon-delete {
	color: #BAC0C5;
	width: 20px;
	height: 20px;
	padding: 2px 2px;
	font-size: 16px;
	display: flex;
}

.data-offer .icon-delete:hover {
	color: #FF6B6B;
	padding: 0px;
	font-size: 22px;
	display: flex;
}*/

/*.data-offer .file-entry .icon-delete::before {
	content: ' ';
	width: 16px;
}*/

.data-offer .file-entry .icon-delete {
	margin-left: 16px;
}

/* customize miageuploadify */
.data-offer .imageuploadify .imageuploadify-image-block {
	width: 100%;
	/*height: 187px;*/
	/*padding: 8px;*/
	border: unset;
}
.data-offer .imageuploadify .imageuploadify-image-block.thumbnails {
	margin-top: 22px;
}
.data-offer .imageuploadify .imageuploadify-image-block.file-entries {
	margin-top: 12px;
}
.data-offer .imageuploadify .imageuploadify-image-block.thumbnails {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	min-height: 210px;
	max-height: 420px;
	/*height: 187px;*/
	/*padding: 8px;*/
	overflow-y: auto;
}
.data-offer .imageuploadify .imageuploadify-image-block.file-entries {
	height: unset;
	max-height: 80px;
}
.data-offer .imageuploadify .imageuploadify-image-block.hide {
	display: none;
}

.data-offer .imageuploadify .imageuploadify-image-block.file-entries {
}

.data-offer .imageuploadify .imageuploadify-image-block .imageuploadify-container.thumbnails {
	display: flex;
	justify-content: center;
	align-items: center;

	height: unset;
	border-radius: unset;
	box-shadow: unset;	
	position: relative;
}

.data-offer .imageuploadify .imageuploadify-image-block .imageuploadify-container.thumbnails {
	width: 48%;
	padding-bottom: 30%;
	margin-bottom: 3%;
}

.data-offer .imageuploadify .imageuploadify-image-block .imageuploadify-container.thumbnails.single {
	width: 100%;
	padding-bottom: 60%;
	margin-bottom: 0px;
}

.data-offer .imageuploadify .imageuploadify-image-block .imageuploadify-container.file-entry {
	width: auto;
	height: unset;
	border-radius: unset;
	box-shadow: unset;	
	position: relative;
	float: unset;
	text-align: left;
}
/*.data-offer .imageuploadify .imageuploadify-image-block .imageuploadify-container::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}*/
.data-offer .imageuploadify .imageuploadify-image-block .imageuploadify-container.file-entry {
	color: #8C9196;
	font-size: 14px;
	font-weight: bold;
	margin: 4.5px 0.5px;
}

.data-offer .imageuploadify .imageuploadify-image-block .imageuploadify-container.file-entry i {
	margin-right: 8px;
}

.data-offer .imageuploadify .imageuploadify-image-block .imageuploadify-container.file-entry i.remove {
	/*color: #020A09;*/
	/*width: 16px;
	height: 16px;
	*/
	color: #BAC0C5;
	display: unset;
	margin-left: 16px;
	width: 16px;
	height: 16px;
	font-size: 16px;

	position: static;
	right: unset;
	top: unset;
}

.data-offer .imageuploadify .imageuploadify-image-block .imageuploadify-container.thumbnails .remove {
	color: #020A09;
	width: 20px;
	height: 20px;
	display: relative;
}

.data-offer .imageuploadify .imageuploadify-image-block .imageuploadify-container.file-entry i.remove:hover,
.data-offer .imageuploadify .imageuploadify-image-block .imageuploadify-container .remove:hover {
	color: #FF6B6B;
}

/*.data-offer .imageuploadify .imageuploadify-image-block .imageuploadify-container .remove::before {
	content: '';
	background-color: white;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 5px;
	top: 5px;
}*/

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
