@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 1200px) {
	.app-reveal-section-notify h1{
		font-size: 42px;		
	}
	.app-reveal-section-notify p{
		font-size: 16px;
		font-weight: normal;
	}
	.app-reveal-section-mark{
		width: 45%;
	}
	.app-partner-item .img img{
		max-height: 50px;
	}
	.app-footer-section{
		position: relative;
	}
	.app-footer-section >div{
		width: 100%;
		display: block;
	}
	.app-footer-section .app-footer-social-link-container{
		text-align: center;
		margin-bottom: 70px;
	}
	.app-footer-section .app-footer-social-link-container h4{
		color: #AAAAAA;
		display: block;
		font-size: 14px;
	}
	.app-footer-section .app-footer-link{
		position: absolute;
		bottom: 20px;
		top: auto;
	}
}
@media (max-width: 1024px) {
	.app-reveal-section-notify h1{
		font-size: 48px;
	}
	.app-reveal-section-notify p{
		font-size: 24px;
	}	
	.footer_section1 h5{
		font-size: 24px;
	}
	.app-monetize-section-item1 h1{
		font-size: 24px !important;
	}
	.app-reveal-section{
		padding: 30px 30px 30px 0px;
	}
}

@media (max-width: 992px){
	::-webkit-scrollbar {
	    width: 0px;
	    display: none;
	}
	.footer_section1 .footer-newsletter{
		margin-top: 24px;
    	padding-top: 40px;
		border-top: 1px solid #DAE1E5;
		text-align: center;
	}
	.app-top-nav-bar-container .navbar-nav{
		flex-direction: row;
		align-items: center;
	}
	.app-top-nav-bar-container .navbar-nav .dropdown-menu{
		position: absolute;
		background: white;
		height: auto;
		overflow-y: unset;
		padding: .3125rem 0;
    	margin: .125rem 0 0;
	}
	.app-top-bar-container{
		display: none;
	}
	.app-nav-bar-container{
		border: none;
	}
	#main_menu{
		box-shadow: 0px 1px 4px #0000000A;
	}
	#main_menu >.container{
		justify-content: space-between;
	}
	#main_menu .app-brand{
		display: block;
		margin: 5px 0px;
	}
	#main_menu .app-brand svg{
		width: 183px;
		height: 32px;
	}
	#account_dropdown{
		padding: 5px 20px 5px 0px;
	}
	#navbarNavDropdown{
		display: block;
		top: 96px;
		box-shadow: -5px 1px 6px #0000000A;
	}
	#navbarNavDropdown .navbar-title{
		display: block;
		position: relative;
		z-index: 3;
		margin: 30px auto 10px 30px;
	}
	#navbarNavDropdown .navbar-nav li{
		border: none;
	}
	#navbarNavDropdown .navbar-nav li.nav-item:after {
		display: none;
	}
	#navbarNavDropdown .navbar-nav li.nav-item a.nav-link{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#navbarNavDropdown .navbar-nav li.nav-item a.nav-link >i{
		display: block;
	}
	.fixed_bg{
		position: fixed;
		top: 0;
		z-index: 1001;
	}
	.app-nav-bar-container{
		position: fixed;
		margin-top: 30px;
		top: 0;
		z-index: 1000;
	}
	.app-wapper.header-section{
		margin-top: 96px;
	}
	.app-wapper.profile{
		margin-top: 96px;
	}
	.app-wapper.app-purchase-wapper{
		margin-top: 96px;
	}
	.app-partner-item .img img{
		max-height: 100%;
	}
	.profileinfo {
		width: 100%;
	}
	.app-section.users {
		width: 100%;
	}
	.bg-pattern1-left:before, .bg-pattern1-right:before{
		width: 360px;
		height: 220px;
	}
	.page-title{
		font-size: 30px;
		line-height: 36px;
	}
	.profileinfo{
		margin-top: 50px;
	} 
	.info-label{
		margin-right: 50px;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.app-reveal-section{
		padding-top: 50px;
		padding-bottom: 0px;
	}
	.app-partner-items div.app-partner-item{
		min-height: 136px;
	}
}

@media ( max-width: 576px ){
	.col-xs-6{
		max-width: 50%;
		flex: 0 0 50%;
		position: relative;
	    width: 100%;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.auth-section h1{
		font-size: 48px !important;
	}
	.auth-section .h4-intro{		
		font-size: 20px !important;
	}
	.app-reveal-section{
		padding: 30px 0px 0px;
		top: 0px;
	}
	.app-reveal-section-mark{
		display: block;
	    width: 100%;
	    position: relative;
	    top: 0;
	}
	.app-partner-item .img img{
		max-height: 100%;
	}
	.footer_section1 .readmore-inourblog-btn{
		width: 100%;
		margin: 30px 15px;
	}
	#bodyClick{
		top: 96px;
		opacity: 1;
		background: transparent linear-gradient(180deg, #8180C4 0%, #98afd2 100%) 0% 0% no-repeat padding-box;
		z-index: 800;
		right: 0;
	}
	.users .Buttons_Round_Hero{
		width: 100%;
	}
	.fixed_bg .navbar-expand-lg .navbar-nav .dropdown-menu{
		right: 0!important;
	}
	.bg-pattern1-left:before, .bg-pattern1-right:before{
		width: 300px;
		height: 170px;
	}
	.profileinfo{
		margin-top: 30px;
	} 
	#edit-button{
		display: none;
	}
	.info-label{
		flex: 0 0 25%;
    	max-width: 25%;
	}
	.app-monetize-section-item1 h1{
		text-align: center;
	}
	.readmore-inourblog-btn{
		width: 100%;
	}
}