#admin_container{
    width: 100%;
}
#admin_logo{
    width: 185%;
}
#m_aside_left_minimize_toggle{
    left: 17px;
}
.m-stack__item.m-brand.m-brand--skin-dark{
    padding-left: 10px !important;
} 
.m-menu__link-text{
    font-size: 25px !important;
}

#usecase-sidebar{
    font-size: 21px;
    color: white;
    padding-left: 55px;
}
#usecase-sidebar:hover{
    background-color: white;
    color: black;
}
#usecase-sidebar:active{
    background-color: white;
    color: powderblue;
}
.note-editable{
    padding-top: 30px !important;
}
.m-menu__sidebar{
    color: white;
    list-style: none;
    font-size: 18px;
}
.m-menu__sidebar:hover{
    color: aquamarine;
}
.subsider_ul{
    margin-left: 40px;
}
.m-menu__link{
    color: white;
}
.m-menu__link:hover{
    color: aquamarine;
    text-decoration: none;
}
#published_date::-webkit-inner-spin-button{
    display: none;
}
.sidebar_header{
    font-size: 30px;
    color: white;
    padding-left: 40px;
    cursor: pointer;
    font-weight: 600;
}
.sidebar_header:hover{
    color: darkturquoise;
}
.section-label{
    font-size: 18px;
}
#board_form .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 1;
    height: 100%;
    padding-left: 1.15rem;
}
#board_form .select2-container--default .select2-selection--single{
    height: calc(2.95rem + 2px);
    border-color: #ebedf2;
}
#board_form .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: calc(2.95rem + 2px);
    position: absolute;
    top: 50%;
    right: 1px;
    width: 20px;
}
#board_form .select2-container--default.select2-container--open .select2-selection--single{
    border-color: #716aca;
}
#board_form select+.form-control-feedback{
    position: absolute;
    bottom: 0px;
}
#board_form .form-control-feedback{
    color: #F44336;
}