#admin_container{
    width: 100%;
}
#admin_logo{
    width: 185%;
}
#m_aside_left_minimize_toggle{
    left: 17px;
}
.m-stack__item.m-brand.m-brand--skin-dark{
    padding-left: 10px !important;
} 
.m-menu__link-text{
    font-size: 25px !important;
}

#usecase-sidebar{
    font-size: 21px;
    color: white;
    padding-left: 55px;
}
#usecase-sidebar:hover{
    background-color: white;
    color: black;
}
#usecase-sidebar:active{
    background-color: white;
    color: powderblue;
}
.note-editable{
    padding-top: 30px !important;
}
.m-menu__sidebar{
    color: white;
    list-style: none;
    font-size: 18px;
}
.m-menu__sidebar:hover{
    color: aquamarine;
}
.subsider_ul{
    margin-left: 40px;
}
.m-menu__link{
    color: white;
}
.m-menu__link:hover{
    color: aquamarine;
    text-decoration: none;
}
#published_date::-webkit-inner-spin-button{
    display: none;
}
.sidebar_header{
    font-size: 30px;
    color: white;
    padding-left: 40px;
    cursor: pointer;
    font-weight: 600;
}
.sidebar_header:hover{
    color: darkturquoise;
}