body{
    counter-reset: section;
    font-family: DM Sans!important;
}
#admin_container{
    width: 100%;
}
#admin_logo{
    width: 185%;
}
#m_aside_left_minimize_toggle{
    left: 17px;
}
.m-stack__item.m-brand.m-brand--skin-dark{
    padding-left: 10px !important;
} 
.m-menu__link-text{
    font-size: 25px !important;
}

#usecase-sidebar{
    font-size: 21px;
    color: white;
    padding-left: 55px;
}
#usecase-sidebar:hover{
    background-color: white;
    color: black;
}
#usecase-sidebar:active{
    background-color: white;
    color: powderblue;
}
.note-editable{
    padding-top: 30px !important;
}
.m-menu__sidebar{
    color: white;
    list-style: none;
    font-size: 18px;
}
.m-menu__sidebar:hover{
    color: aquamarine;
}
.subsider_ul{
    margin-left: 30px;
}
.subsider_sub_ul{
    padding-left: 20px;
}
.m-menu__link{
    color: white;
}
.m-menu__link:hover{
    color: aquamarine;
    text-decoration: none;
}
.m-form .form-control-label, .m-form label{
    font-size: 14px;
}
#published_date::-webkit-inner-spin-button{
    display: none;
}
.sidebar_header{
    font-size: 30px;
    color: white;
    padding-left: 40px;
    cursor: pointer;
    font-weight: 600;
}
.sidebar_header:hover{
    color: darkturquoise;
}
.section-label{
    font-size: 18px;
}
#board_form .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 1;
    height: 100%;
    padding-left: 1.15rem;
}
#board_form .select2-container--default .select2-selection--single{
    height: calc(2.95rem + 2px);
    border-color: #ebedf2;
}
#board_form .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: calc(2.95rem + 2px);
    position: absolute;
    top: 50%;
    right: 1px;
    width: 20px;
}
#board_form .select2-container--default.select2-container--open .select2-selection--single{
    border-color: #716aca;
}
#board_form select+.form-control-feedback{
    position: absolute;
    bottom: 0px;
}
#board_form .form-control-feedback{
    color: #F44336;
}
.note-editor .note-toolbar-wrapper{
    z-index: 100;
}
.note-editable p{
    font-size: 18px!important;
    font-family: DM Sans!important;
}
.note-editable span{
    font-size: 18px!important;font-family: DM Sans!important;
}
.note-editable a{
    color: #78E6D0!important;cursor: pointer!important;font-family: DM Sans!important;
}
.note-editable h1, .note-editable h1 span, .note-editable h1 ol li, .note-editable h1 ul li{
    font-size: 40px!important;
    font-weight:bold;
    line-height: 1.2;
    font-family: DM Sans!important;
}
.note-editable h2, .note-editable h2 span, .note-editable h2 ol li, .note-editable h2 ul li{
    font-size: 30px!important;
    font-weight:bold;
    line-height: 1.2;
    font-family: DM Sans!important;
}
.note-editable h3, .note-editable h3 span, .note-editable h3 ol li, .note-editable h3 ul li{
    font-size: 24px!important;
    font-weight:bold;
    line-height: 1.2;
    font-family: DM Sans!important;
}
.note-editable h4, .note-editable h4 span, .note-editable h4 ol li, .note-editable h4 ul li{
    font-size: 20px!important;
    font-weight:bold;
    line-height: 1.2;
    font-family: DM Sans!important;
}
.note-editable h5, .note-editable h5 span, .note-editable h5 ol li, .note-editable h5 ul li{
    font-size: 18px!important;
    font-weight:bold;
    line-height: 1.2;
    font-family: DM Sans!important;
}
.note-editable h6, .note-editable h6 span, .note-editable h6 ol li, .note-editable h6 ul li{
    font-size: 14px!important;
    font-weight:bold;
    line-height: 1.2;
    font-family: DM Sans!important;
}
.note-editable ol {
    list-style: none; 
    counter-reset: li; 
    padding-left: 1em;
}
.note-editable ol li {
    counter-increment: li; 
    font-size; 18px;
    font-family: DM Sans!important;
}
.note-editable ol li::before {
    content: counter(li)".";
    color: #78E6D0!important;
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
    font-size: 18px;
}
.note-editable ul {
    list-style: none; 
    padding-left: 1em;
}
.note-editable ul li{
    font-size: 18px!important; 
    font-family: DM Sans!important;
}
.note-editable ul li::before {
    content: "\2022";
    color: #78E6D0!important;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
    text-align: center;
}